<div class="wrapper fadeInDown">
    <div id="formContent">
     <h2> Login with Username and Password!</h2> <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      </form>
      <button  (click)="getSubmit()" class="button btn" value="Log In"> Log In! </button>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>