<div class="container">
<div style="text-align:center"> <h2> Contact Page !</h2> </div>
<hr>
<form style="text-align:center">
    <br>
    <span>
        <h3> <strong>Email:</strong></h3>
    </span>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
        <br>
        <span>
            <h3> <strong>Mesaj:</strong></h3>
        </span>
        <textarea value="Mesajul tau"> </textarea>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
  
      <!-- Remind Passowrd -->
  
</div>